<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2/dist/lux/bootstrap.css">
    <style>
        .logo {
            width: 50px;
            height: auto;
            display: block;
        }

        .welcome-text {
            text-align: center;
            margin-top: 2%;
            opacity: 0;
            transform: translateY(-80px);
            animation: slideDown 0.8s ease-out forwards;
        }

        @keyframes slideDown {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

          #tabla {

            width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-left: 0%;
        }

        .a {
            display: flex;
            place-content: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="logo" src="img/navimg.svg"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Inicio">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Configuración">Configuración</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Pacientes">Pacientes</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input id="hhh" class="form-control me-sm-2" type="search" placeholder="Buscar paciente">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="window.location.replace(`buscarPaciente/${document.getElementById('hhh').value}`)">Buscar</button>
                </form>
                <div class="d-flex m-1">
                    <button class="btn btn-outline-danger my-2 my-sm-0" data-bs-toggle="modal"
                        data-bs-target="#logOutModal">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="modal" id="logOutModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cerrar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que quieres cerrar la sesión actual?</p>
                </div>
                <div class="modal-footer">
                    <a href="/logOut"><button type="button" class="btn btn-danger">Cerrar sesión</button></a>
                </div>
            </div>
        </div>
    </div>




    <div class="welcome-text">
        <h1>¡Bienvenido, <%= doctor.name %>!</h1>
    </div>

    <div id="tabla">
        <table class="table table-hover">


            <% if (doctor.data && doctor.data.length> 0) { %>
                <thead>
                    <tr>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <% doctor.data.slice(0,5).forEach(paciente=> { %>

                        <a href="buscarPaciente/<%= paciente.dni %>">
                            <tr>
                                <td>
                                    <%= paciente.surname %>
                                </td>
                                <td>
                                    <%= paciente.name %>
                                </td>
                                <td>
                                    <%= paciente.dni %>
                                </td>
                                <td>
                                    <a href="buscarPaciente/<%= paciente.dni %>">
                                        <img style="width: 20px;" src="img/search.svg">
                                    </a>
                                </td>
                            </tr>
                        </a>


                        <% }); %>
                </tbody>
                <%} else { %>
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        ¡Aún no has ingresado a ningún paciente en este sitio! Presiona <a href="/crearPaciente"
                            class="alert-link">aquí</a> para ingresar tu primer paciente.
                    </div>
                    <% } %>
        </table>
    </div>


</body>

</html>